<!-- Component: accordion -->

/** Accordion CSS **/
input { display: none !important; }
input[id="effect"] + div[class="em_show_g"] { display: none; }
input[id="effect2"] + div[class="em_show_g"] { display: none; }
input[id="effect3"] + div[class="em_show_g"] { display: none; }
input[id="effect4"] + div[class="em_show_g"] { display: none; }
input[id="effect5"] + div[class="em_show_g"] { display: none; }
input[id="effect"]:checked + div[class="em_show_g"] { display: block !important; height: auto !important; width: auto !important; overflow: visible !important; max-height: 1420px !important; }
input[id="effect2"]:checked + div[class="em_show_g"] { display: block !important; height: auto !important; width: auto !important; overflow: visible !important; max-height: 1420px !important; }
input[id="effect3"]:checked + div[class="em_show_g"] { display: block !important; height: auto !important; width: auto !important; overflow: visible !important; max-height: 1420px !important; }
input[id="effect4"]:checked + div[class="em_show_g"] { display: block !important; height: auto !important; width: auto !important; overflow: visible !important; max-height: 1420px !important; }
input[id="effect5"]:checked + div[class="em_show_g"] { display: block !important; height: auto !important; width: auto !important; overflow: visible !important; max-height: 1420px !important; }

 @media screen yahoo {
input[id="effect"] + div[class="em_show_g"] {
display: block;
}
input[id="effect2"] + div[class="em_show_g"] {
display: block;
}
input[id="effect3"] + div[class="em_show_g"] {
display: block;
}
input[id="effect4"] + div[class="em_show_g"] {
display: block;
}
input[id="effect5"] + div[class="em_show_g"] {
display: block;
}
.em_show_g {
display: block !important;
height: auto !important;
width: auto !important;
overflow: visible !important;
max-height: 1400px !important;
}
}
.aolReplacedBody .em_show_g { display: block !important; height: auto !important; width: auto !important; overflow: visible !important; max-height: 1400px !important; }		
		/** Accordion CSS ends **/
						<table cellpadding="0" cellspacing="0" border="0" width="700" class="wf" role="presentation" style="width:700px;">
							<tr align="center">
								<td align="center" class="lrpad">
									<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 2px solid #000000;">
										<tbody>
											<tr>						
												<td align="center" valign="top">
													<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td>
																	<!--[if !mso 9]><!-->
																	<label for="effect">
																		<!--<![endif]-->
																		<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																			<tbody>
																				<tr>
																					<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																				</tr>
																				<tr>
																					<td align="center" valign="top">
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																							<tbody>
																								<tr>
																									<td width="25">&nbsp;</td>
																									<td data-slot="section_1_heading" align="left" valign="top" style="font-family:'Lato',sans-serif;font-size:20px;line-height:23px;color:#000;font-weight:bold;text-decoration:none; cursor:pointer;"> CSS3 Accordion </td>
																									<td valign="top" width="20">
																										<table class="em_bg" width="20" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius:50%;background-color:#000">
																											<tbody>
																												<tr>
																													<td height="20" align="center" valign="middle" style="font-family:'Open Sans',sans-serif;font-size:15px;line-height:20px;color:#fff;font-weight:bold; cursor:pointer;">+ </td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																									<td width="10">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>
																		<!--[if !mso 9]><!-->
																	</label>
																	<!--<![endif]-->
																</td>
															</tr>
															<tr>
																<td>
																	<!--[if !mso 9]><!-->
																	<input style="display:none;" id="effect" checked="checked" type="radio" name="01">
																	<!--<![endif]-->
																	<div class="em_show_g">
																		<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																			<tbody>
																				<tr>
																					<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																				</tr>
																				<tr>
																					<td height="30" class="em_ht2">&nbsp;</td>
																				</tr>
																				<tr>
																					<td align="center" valign="top" style="padding-left:25px;padding-right:30px">
																						<table border="0" width="100%" role="presentation" cellspacing="0" cellpadding="0" align="center">
																							<tbody>
																								<tr>
																									<td data-slot="section_1_body" align="left" valign="top" style="font-family:'Open Sans',sans-serif;font-size:13px;line-height:16px;color:#000"> After navigation and menus in email, it’s also very much possible to actually use accordion in emails. CSS3 Accordion uses CSS3 techniques to develop
																										accordions that are mainly used for mobile emails. 
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td height="25" class="em_ht">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
													<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td>
																	<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																			</tr>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<label for="effect2">
																						<!--<![endif]-->
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td width="25">&nbsp;</td>
																													<td data-slot="section_2_heading" align="left" valign="top" style="font-family:'Lato',sans-serif;font-size:20px;line-height:23px;color:#000;font-weight:bold; cursor:pointer;"> Advantages </td>
																													<td valign="top" width="20">
																														<table class="em_bg" width="20" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius:50%;background-color:#000">
																															<tbody>
																																<tr>
																																	<td height="20" align="center" valign="middle" style="font-family:'Open Sans',sans-serif;font-size:15px;line-height:20px;color:#fff;font-weight:bold; cursor:pointer;">+ </td>
																																</tr>
																															</tbody>
																														</table>
																													</td>
																													<td width="10">&nbsp;</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																						<!--[if !mso 9]><!-->
																					</label>
																					<!--<![endif]-->
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<input style="display:none;" id="effect2" type="radio" name="01">
																					<!--<![endif]-->
																					<div class="em_show_g">
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																								</tr>
																								<tr>
																									<td height="30" class="em_ht2">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top" style="padding-left:25px;padding-right:30px">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td data-slot="section_2_body" align="left" valign="top" style="font-family:'Open Sans',sans-serif;font-size:13px;line-height:20px;color:#000"> 1. Stack-up content<br>
																														2. Better UX<br>
																														3. Track clicks<br>
																														4. Questionnaire for feedback emails &amp; Progressive enhancement and engagement 
																													</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="25" class="em_ht">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
													<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td>
																	<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<label for="effect3">
																						<!--<![endif]-->
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																								</tr>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td width="25">&nbsp;</td>
																													<td data-slot="section_3_heading" align="left" valign="top" style="font-family:'Lato',sans-serif;font-size:20px;line-height:23px;color:#000;font-weight:bold; cursor:pointer;"> Application </td>
																													<td valign="top" width="20">
																														<table class="em_bg" width="20" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius:50%;background-color:#000">
																															<tbody>
																																<tr>
																																	<td height="20" align="center" valign="middle" style="font-family:'Open Sans',sans-serif;font-size:15px;line-height:20px;color:#fff;font-weight:bold; cursor:pointer;">+ </td>
																																</tr>
																															</tbody>
																														</table>
																													</td>
																													<td width="10">&nbsp;</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																						<!--[if !mso 9]><!-->
																					</label>
																					<!--<![endif]-->
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<input style="display:none;" id="effect3" type="radio" name="01">
																					<!--<![endif]-->
																					<div class="em_show_g">
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																								</tr>
																								<tr>
																									<td height="30" class="em_ht2">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top" style="padding-left:25px;padding-right:30px">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td data-slot="section_3_body" align="left" valign="top" style="font-family:'Open Sans',sans-serif;font-size:13px;line-height:20px;color:#000"> 1. Multiple product categorization and grouping in e-commerce and retail sectors.<br>
																														2. Technology and media companies can use accordion beneath menus for more information display.<br>
																														3. Other industries sending information heavy emails. 
																													</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="25" class="em_ht1">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
													<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td>
																	<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<label for="effect4">
																						<!--<![endif]-->
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																								</tr>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td width="25">&nbsp;</td>
																													<td data-slot="section_4_heading" align="left" valign="top" style="font-family:'Lato',sans-serif;font-size:20px;line-height:23px;color:#000;font-weight:bold; cursor:pointer;"> Limitations </td>
																													<td valign="top" width="20">
																														<table class="em_bg" width="20" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius:50%;background-color:#000">
																															<tbody>
																																<tr>
																																	<td height="20" align="center" valign="middle" style="font-family:'Open Sans',sans-serif;font-size:15px;line-height:20px;color:#fff;font-weight:bold; cursor:pointer;">+ </td>
																																</tr>
																															</tbody>
																														</table>
																													</td>
																													<td width="10">&nbsp;</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																						<!--[if !mso 9]><!-->
																					</label>
																					<!--<![endif]-->
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<input style="display:none;" id="effect4" type="radio" name="01">
																					<!--<![endif]-->
																					<div class="em_show_g">
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																								</tr>
																								<tr>
																									<td height="30" class="em_ht2">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top" style="padding-left:25px;padding-right:30px">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td data-slot="section_4_body" align="left" valign="top" style="font-family:'Open Sans',sans-serif;font-size:13px;line-height:20px;color:#000">The accordion will work with most mobile email clients as well as in Apple mail and Outlook for Mac on desktop. The accordion will work with email systems that support external CSS only. Windows based clients might not support such accordion as it uses CSS3. The accordions will also not work with gmail app and third party apps.</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="25" class="em_ht1">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
													<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td>
																	<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<label for="effect5">
																						<!--<![endif]-->
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																								</tr>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td width="25">&nbsp;</td>
																													<td data-slot="section_5_heading" align="left" valign="top" style="font-family:'Lato',sans-serif;font-size:20px;line-height:23px;color:#000;font-weight:bold; cursor:pointer;"> Compatibility </td>
																													<td valign="top" width="20">
																														<table class="em_bg" width="20" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius:50%;background-color:#000">
																															<tbody>
																																<tr>
																																	<td height="20" align="center" valign="middle" style="font-family:'Open Sans',sans-serif;font-size:15px;line-height:20px;color:#fff;font-weight:bold; cursor:pointer;">+ </td>
																																</tr>
																															</tbody>
																														</table>
																													</td>
																													<td width="10">&nbsp;</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																						<!--[if !mso 9]><!-->
																					</label>
																					<!--<![endif]-->
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<!--[if !mso 9]><!-->
																					<input style="display:none;" id="effect5" type="radio" name="01">
																					<!--<![endif]-->
																					<div class="em_show_g">
																						<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
																							<tbody>
																								<tr>
																									<td height="2" style="line-height:0px;font-size:0px" bgcolor="#000000"><img src="https://www.emailmonks.com/emailTemplates/new_images/spacer.gif" width="1" height="1" alt="" border="0" style="display:block;"></td>
																								</tr>
																								<tr>
																									<td height="30" class="em_ht2">&nbsp;</td>
																								</tr>
																								<tr>
																									<td align="center" valign="top" style="padding-left:25px;padding-right:30px">
																										<table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center">
																											<tbody>
																												<tr>
																													<td class="em_white" data-slot="section_5_body" align="left" valign="top" style="font-family:'Open Sans',sans-serif;font-size:13px;line-height:20px;color:#000">This email is a normal email layout for desktop user(except Apple Mail and Outlook MAC), but it gets converted to accordion when users read it on mobile email client, native apps. <br>
																														<br>
																														Compatibility list : <br>
																														- Apple Mail, <br>
																														- Outlook 2011(MAC), <br>
																														- Outlook 2016(MAC), <br>
																														- iPhone 4, <br>
																														- iPhone 5, <br>
																														- iPhone 6 and 6+, <br>
																														- Android 4.2, 4.3+, <br>
																														- Android 2.3 <br>
																														<br>
																														Remember, 50% of mobile email opens are on Apple devices. 
																													</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								<tr>
																									<td height="25" class="em_ht1">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>						
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
