<!-- Component: button -->

<table border="0" cellspacing="0" cellpadding="0" role="presentation">
  <tr>
    <td bgcolor="#e84e0f" align="center" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;"><a href="#" style="font-family: arial, sans-serif; font-size: 14px; line-height: 24px; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #e84e0f; border-bottom: none; border-bottom: 2px solid #e84e0f; padding: 8px 18px 8px 18px; display: inline-block;"><!--[if mso]>&nbsp;<![endif]-->Button<!--[if mso]>&nbsp;<![endif]--></a></td>
  </tr>
</table>
