<!-- Component: image-swap -->

<!-- image swap for mobile -->

/** CSS to include - first @media = image for tablet & desktop, second @media for mobile **/
	@media only screen and (min-device-width: 500px) and (max-device-width: 1024px)  {
		span[id=switcher] {display:block;
		background-image: url({{ image_url }}) !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		width: 300px !important;
		height: 250px !important; }
		img[id=houdini] {display: none !important; }
	}
	@media only screen and (max-device-width: 489px) {
		span[id=switcher] {display:block;
		background-image: url({{ image_url }}) !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		width: 300px !important;
		height: 250px !important; }
		img[id=houdini] {display: none !important; }
	}
/** CSS to include **/
<a href="https://example.com/link"><span data-slot="mobile_image_url" id="switcher"><img data-slot="desktop_image_url" id="houdini" src="{{ image_url }}" alt=""></span></a>

<!-- image swap for mobile ends -->
