<!-- Component: video -->

/** MP4 CSS **/
.video-wrapper {display:none;}
@media (-webkit-min-device-pixel-ratio: 0) and (min-device-width:1024px){
.video-wrapper { display:block!important;width: 100%; height: auto }
.video-fallback { display:none!important; }
}
@supports (-webkit-overflow-scrolling:touch) and (color:#ffffffff) {
div[class^=video-wrapper] { display:block!important; }
div[class^=video-fallback] { display:none!important; }
}
#MessageViewBody .video-wrapper { display:block!important; }
#MessageViewBody .video-fallback { display:none!important; }
@media (-webkit-min-device-pixel-ratio: 0) and (min-device-width:375px){
.video-wrapper { display:block!important; }
.video-fallback { display:none!important; }
#mob{width: 100%; height: auto !important}
}
/** MP4 CSS ends **/
<table cellpadding="0" cellspacing="0" border="0" width="640" class="resptab" role="presentation" style="width:640px;">
  <tr align="center">
    <td align="center" style="padding-top: 40px; padding-bottom: 40px;">
      <div class="video-wrapper" style="display:none;">
        <video id="mob" class="resptab" width="640" height="320" controls poster="https://www.emailonacid.com/images/blog_images/Emailology/2013/html5_video/bunny_cover.jpg" data-slot="video_url" src="https://www.w3schools.com/html/mov_bbb.mp4" >
          <!-- fallback 1 -->
          <a href="https://example.com/link" target="_blank">
            <img data-slot="poster_url" width="640" height="320" src="https://www.emailonacid.com/images/blog_images/Emailology/2013/html5_video/bunny_cover.jpg" class="respimg">
          </a>
        </video>
      </div>
      <!-- fallback section -->
      <div class="video-fallback">
        <a href="https://example.com/link" target="_blank">
          <img data-slot="fallback_image_url" width="640" height="320" src="https://www.emailonacid.com/images/blog_images/Emailology/2013/html5_video/bunny_cover.jpg" class="respimg">
        </a>
      </div>
    </td>
  </tr>
</table>
